#frontend-user
foodeliver-user/node_modules/
foodeliver-user/.expo/
foodeliver-user/dist/
foodeliver-user/web-build/w
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
foodeliver-user/.DS_Store
