#frontend-user
foodeliver-user/node_modules/
foodeliver-user/.expo/
foodeliver-user/dist/
foodeliver-user/web-build/w

foodeliver-driver/node_modules/
foodeliver-driver/.expo/
foodeliver-driver/dist/
foodeliver-driver/web-build/w

npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
foodeliver-user/.DS_Store
foodeliver-driver/.DS_Store
